# Windows
Thumbs.db
desktop.ini

# Environment variables and local configuration
.env
.env.*

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# SQL Server / local files
*.bak
*.mdf
*.ldf
# draw.io temporary files
*.drawio.dtmp
*.drawio.bkp